@import "tailwindcss";

:root {
  --background: #fbf9f5;
  --foreground: #171717;
  --black: #253d4e;
  --BaseGreen: #3bb77e;
  --LightGreen: #def9ec;
}

@theme inline {
  /* --color-primary: #1f6f3e; */
  /* --color-primary: #61a60d; */
  --color-primary: #09a45a;
  --color-primary-dark: #145232;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-c-black: var(--black);
  --color-c-green: var(--BaseGreen);
  --color-c-light-green: var(--LightGreen);

  /* font */
  --font-roboto: var(--font-roboto);
  --font-playfair: var(--font-playfair-display);
  --font-dancing: var(--font-dancing-Script);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(89, 86, 86, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), "roboto";
}

@layer components {
  .nav__link {
    @apply py-1 cursor-pointer font-semibold  hover:text-primary inline-block relative;
  }

  .input-shadow {
    @apply shadow-[0px_0px_12px_0px_#cccccc33];
  }
}

.container {
  @apply w-[90%] md:w-[95%] max-w-350 mx-auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
